html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  height: 100%
}

input.vfc-single-input, .vfc-multiple-input input {
  font-size: inherit;
  transition: width 200ms;
  padding: 7px;
  width: 120px;
  color: #aaa;
  border: 1px solid #eee;
  text-align: center;
  outline: none;
}

input.vfc-single-input {
  border-radius: 10px;
}

.vfc-multiple-input input:first-child {
  border-radius: 10px 0 0 10px;
}

.vfc-multiple-input input:last-child {
  border-radius: 0 10px 10px 0;
}

.vfc-main-container {
  border-radius: .28571429rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", serif;
  background-color: #FFFFFF;

  &.vfc-modal {
    position: absolute;
    width: inherit;
  }

  .vfc-months {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div.vfc-item {
      border-top: 1px solid #d4d4d4;
      flex: 1;
      flex-basis: 30%;
      height: 69px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      outline-style: none;
      &:hover {
        background-color: rgba(113, 113, 113, 0.3);
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
      }
      &.selected {
        background: #007bff;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        font-weight: 700;
        &:nth-last-child(3) {
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          border-radius: 0 0 5px;
        }
      }
    }
    .vfc-navigation-buttons {
      width: 100%;
      margin-bottom: -8px;
      margin-top: -11px;
      padding: 0 20px;
      .vfc-top-date {
        text-align: center;
        margin: 25px;
        font-size: 21px;
        font-weight: bold;
        &.vfc-underline {
          cursor: pointer;
          text-decoration: underline dotted #007bff;
        }
      }
    }
  }

  .vfc-navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
    margin-bottom: -50px;
    div {
      display: flex;
      color: #000000;
      font-size: 18px;

      &.vfc-cursor-pointer {
        cursor: pointer;
      };

      .vfc-arrow-left {
        width: 12px;
        height: 12px;
        border-top: 2px solid #0a0c19;
        border-left: 2px solid #0a0c19;
        transform: rotate(-45deg);
      }

      .vfc-arrow-left:active,
      .vfc-arrow-right:active {
        border-color: #ddd;
      }

      .vfc-arrow-left, .vfc-arrow-right {
        &.vfc-disabled {
          border-color: #dddddd;
        }
      }

      .vfc-arrow-right {
        width: 12px;
        height: 12px;
        border-top: 2px solid #0a0c19;
        border-right: 2px solid #0a0c19;
        transform: rotate(45deg);
      }
    }

  }

  /* Calendar 100% height */
  .vfc-calendar {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    div {
      &.vfc-content {
        margin: 10px 20px;

        h2 {
          &.vfc-top-date {
            text-align: center;
            margin: 25px;
            font-size: 18px;
            font-weight: normal;
            &.vfc-cursor-pointer {
              cursor: pointer;
            }
            &.vfc-underline {
              cursor: pointer;
              text-decoration: underline dotted #007bff;
            }
          }
        }

        /* Calendar rows */
        .vfc-dayNames, .vfc-week {
          display: flex;
        }

        .vfc-dayNames {
          flex: 30px 0 0;
          margin-bottom: 10px;

          span {
            width: 100%;
            margin-right: 5px;
            color: #333;
            text-align: center;

            &:last-child {
              margin-right: 0
            }
          }
        }

        .vfc-week {
          div {
            &.vfc-day {
              position: relative;
              width: 100%;

              display: flex;
              flex-direction: column;
              background-color: #fff;

              span {
                display: block;
                width: 65%;
                padding-top: 65%;
                border: 1px solid #FFFFFF;
                border-radius: 50%;
                margin: 0 auto;

                &.vfc-today {
                  background-color: #ff8498;
                  &:after {
                    color: #FFFFFF;
                  }
                }

                &.vfc-cursor-not-allowed {
                  cursor: not-allowed
                }

                &.vfc-marked {
                  margin: auto;
                  background-color: rgb(102, 179, 204);
                  border-radius: 50%;
                  opacity: 1;
                  z-index: 2;
                  &:after {
                    color: #FFFFFF;
                  }
                }

                &.vfc-hide {
                  &:after {
                    color: #bfbfbf;
                  }
                }

                &.vfc-disabled {
                  margin: auto;
                  background-color: rgba(0, 0, 0, 0.2);
                  border-radius: 50%;
                  opacity: 1;
                  z-index: 2;
                  color: #FFFFFF;
                }

                &:after {
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  content: attr(data-date);
                  color: #000000;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }

                &.vfc-hover:hover {
                  background-color: #dadada;
                }
              }

              /* Weekends */
              &:last-child {
                color: #000;
              }

            }
          }
        }
      }
    }
  }
}