$black: #000000 !default;
$white: #FFFFFF !default;
$powderblue: #B0E0E6 !default;
$lightskyblue: #8fd8ec !default;
$royalblue: #66b3cc !default;
$steelblue: #4682B4 !default;
$gainsboro: #bfbfbf !default;