$black: #000000 !default;
$mirage: #1A202C !default;
$ebony: #0A0C19 !default;
$mineShaft: #333333 !default;
$tundora: #464646 !default;
$licorice: #2D3748 !default;
$white: #FFFFFF !default;
$lightgrey: #d9d9d9 !default;
$lightgreyHover: #dadada !default;
$powderblue: #B0E0E6 !default;
$lightskyblue: #8fd8ec !default;
$royalblue: #66b3cc !default;
$steelblue: #4682B4 !default;
$pictionBlue: #4299e1 !default;
$astronaut: #28456C !default;
$keppel: #38B2AC !default;
$gainsboro: #bfbfbf !default;
$lightred: #ff8498 !default;
